/* hero background image */
.navbarScroll.navbarDark {
    background-color: black;
}
.bgimage {
    height:72vh;
    background: url('images/eldorado_climbing_cropped.jpg');
    background-size:cover;
    background-position: center;
    position:relative;
}
.about {
    position: relative;
    margin-top: 100px;
    padding-bottom: 50px;
    background-color: rgb(215, 215, 215);
}
.imageAboutPage {
    margin-top: 15px;
    height:35vh;
}
.col-lg-8 {
    position: relative;
    left: 50px;
    right: 50px;
}
.projects {
    position: relative;
    margin-top: 100px;
}
.articles {
    position: relative;
    margin-top: 100px;
}
.project_image {
    height:25vh;
}
/* services section css */
.projectsText.card {
    height: 360px;
    cursor: pointer;
    border: 2px solid #6d6363
}
.infoText.card {
    height: 600px;
    cursor: pointer;
    border: 2px solid #6d6363
}
.projectsText2.card {
    height: 90px;
    cursor: pointer;
}
.card-title {
    text-align: left;
}
.card-title-center {
    text-align: center;
}
.projectsText:hover {
    border: 1px solid #008000;
}
.projects_link {
    color: rgb(117, 117, 117);
    text-decoration: underline;
}
.card_link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.contact {
    position: relative;
    margin-top: 100px;
}
.cv_banner {
    height:100vh;
    background: url('images/naomi_pose_example.png');
    background-size:auto;
    background-position: center;
    position:relative;
}
.project_intro {
    position: relative;
    margin-top: 100px;
    padding-bottom: 50px;
    background-color: rgb(215, 215, 215);
}
.demo_video {
    width: 100%;
}
.volume_walking_grid {
    display: grid;
    grid-template-columns: 25% 5% 70%;
}
.dyno_slab_grid {
    display: grid;
    grid-template-columns: 25% 5% 70%;
}
.cell {
    margin-top: 25px;
    text-align: left;
}
.climb_section {
    padding-bottom: 100px;
}
.power_generation_grid {
    display: grid;
    grid-template-columns: 55% 5% 40%;
}
.dropdown {
display: inline-block;
position: relative;
width: 50%;
}
.dropdown-content {
display: none;
position: absolute;
width: 100%;
overflow: auto;
box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
background-color: #FFFFFF;
}
.dropdown:hover .dropdown-content {
display: block;
}
.dropdown-content a {
display: block;
color: #000000;
padding: 5px;
text-decoration: none;
}
.dropdown-content a:hover {
color: #FFFFFF;
background-color: #00A4BD;
}
